<!-- experience grid section -->
<section id="experience" class="section services portfolio white_background">

    <div class="container-fluid">
            <div class="row">

            <h4 class="section_headers">Experience</h4>

        {% include card-portefolio.html url="digital-catapult" img_url="/assets/images/digitalcatapult/DC.png" title="DIGITAL CATAPULT" role="Product Manager" %}
        {% include card-portefolio.html url="founders-founders" img_url="/assets/images/f2/f2_logo.png" title="FOUNDERS FOUNDERS" role="Community & Operations Manager" %}
        {% include card-portefolio.html url="simi" img_url="/assets/images/simi/simi_logo.png" title="SIMI" role="Marketing & Operations" %}
        {% include card-portefolio.html url="espacot" img_url="/assets/images/espacot/espacot_logo.png" title="Espaço T" role="Internship" %}
        </div>
    </div>

</section>
<!-- experience grid section -->