<!-- portfolio grid section -->
<section id="portfolio" class="section portfolio">
    <div class="container-fluid">
        <div class="row">

        {% include card-portefolio.html url="BOOM" img_url="/assets/images//boom/boom.jpg" title="BOOM - MASSIVE GROWTH WEEK" role="Organizer" %}
        {% include card-portefolio.html url="founder-meets-founder" img_url="/assets/images/foundermeetsfounder/foundermeetsfounder.jpg" title="FOUNDER MEETS FOUNDER" role="Organizer" %}
        {% include card-portefolio.html url="founders-founders" img_url="/assets/images/f2/f2.jpg" title="FOUNDERS FOUNDERS" role="Community & Operations Manager" %}
        {% include card-portefolio.html url="founders-club" img_url="/assets/images/foundersclub/foundersclub.jpg" title="FOUNDERS CLUB" role="Organizer" %}
        {% include card-portefolio.html url="simi" img_url="/assets/images/simi/simi_3.jpg" title="SIMI" role="Marketing & Operations" %}
        {% include card-portefolio.html url="espacot" img_url="/assets/images/espacot/espacot.jpg" title="Espaço T" role="Internship" %}
        {% include card-portefolio.html url="voluntary-work" img_url="/assets/images/voluntarywork/voluntarywork.png" title="Voluntary Work" role="Different roles" %}
         
        </div>
    </div>
</section>
<!-- portfolio grid section -->