<!-- volunteering grid section -->
<section id="volunteering" class="section services portfolio white_background">

    <div class="container-fluid">
        <div class="row">

            <h4 class="section_headers">Volunteering</h4>

        {% include card-portefolio.html url="mentorship" img_url="/assets/images/mentorship/LMF2.png" title="MENTORSHIP" role="Mentor" %}
        {% include card-portefolio.html url="voluntary-work-csd" img_url="/assets/images/voluntarywork/voluntarywork_logo2.jpeg" title="CENTER OF SOCIAL WORK VRHNIKA" role="Assistant to social worker" %}
        {% include card-portefolio.html url="voluntary-work-association" img_url="/assets/images/voluntarywork/voluntarywork_logo4.png" title="ASSOTIATION PLUS 5" role="Art Therapy" %}
        {% include card-portefolio.html url="voluntary-work-institute" img_url="/assets/images/voluntarywork/voluntarywork_logo3.jpeg" title="INSITITUTE TAMALA" role="Child-care" %}
        {% include card-portefolio.html url="voluntary-work-primary" img_url="/assets/images/voluntarywork/voluntarywork_logo.png" title="PRIMARY SCHOOL OF IVAN CANKAR TAMALA" role="Learning Assistance" %}
    </div>

</div>

</section>
<!-- volunteering grid section -->