<!-- portfolio grid section -->
<section id="portfolio" class="section services portfolio white_background">
    <div class="container-fluid">
        <div class="row">

            <h4 class="section_headers">Projects</h4>

        {% include card-portefolio.html url="BOOM" img_url="/assets/images/boom/boom_logo.png" title="BOOM - MASSIVE GROWTH WEEK" role="Organizer" %}
        {% include card-portefolio.html url="founder-meets-founder" img_url="/assets/images/foundermeetsfounder/foundermeetsfounder_logo.png" title="FOUNDER MEETS FOUNDER" role="Organization & Production" %}
        {% include card-portefolio.html url="incinerator" img_url="/assets/images/incinerator/Incinerator_Logo.png" title="Incinerator" role="Organization & Production" %}
        {% include card-portefolio.html url="founders-club" img_url="/assets/images/foundersclub/foundersclub_logo.png" title="FOUNDERS CLUB" role="Organizer" %}
    </div>

</div>
    <div class="container-fluid">
            <div class="row">

            <h4 class="section_headers">Experience</h4>

        {% include card-portefolio.html url="digital-catapult" img_url="/assets/images/digitalcatapult/DC.png" title="DIGITAL CATAPULT" role="Innovation Delivery Manager" %}
        {% include card-portefolio.html url="founders-founders" img_url="/assets/images/f2/f2_logo.png" title="FOUNDERS FOUNDERS" role="Community & Operations Manager" %}
        {% include card-portefolio.html url="simi" img_url="/assets/images/simi/simi_logo.png" title="SIMI" role="Marketing & Operations" %}
        {% include card-portefolio.html url="espacot" img_url="/assets/images/espacot/espacot_logo.png" title="Espaço T" role="Internship" %}
        {% include card-portefolio.html url="mentorship" img_url="/assets/images/mentorship/LMF2.png" title="Mentorship" role="Mentor" %}
        {% include card-portefolio.html url="voluntary-work" img_url="/assets/images/voluntarywork/voluntarywork_logo.png" title="Voluntary Work" role="Different roles" %}
        </div>
    </div>

</section>
<!-- portfolio grid section -->