<div class="card grid-item" onclick="goto('{{ site.baseurl }}{{ include.url }}')">
    <div class="card-top-image" style='background-image: url("{{ include.img_url }}");height:100px;'> </div>
    <div class="card-content related-content">
        <h4><b>{{ include.title }}</b></h4> 
        <p class="card-excerpt">{{ include.description | strip_html | truncatewords:25, " [...]" }}</p>
        <p class="card-readmore"><a>Read more ></a></p>
    </div>
</div>
<script>
function goto(i) {
    window.location.href = i;
}
</script>