<!-- Testimonials section -->
<section id="testimonials" class="section testimonials no-padding">
    <div class="container-fluid">
      <div class="row no-gutter">
        <div class="flexslider">
          <ul class="slides">
            <li>
              <div class="col-md-12">
                <blockquote>
                  <h1>"MAGINIFICENT" </h1>
                  <p>Smb3</p>
                </blockquote>
              </div>
            </li>
            <li>
              <div class="col-md-12">
                <blockquote>
                  <h1>"FANTASTIC!" </h1>
                  <p>Smb 2</p>
                </blockquote>
              </div>
            </li>
            <li>
              <div class="col-md-12">
                <blockquote>
                  <h1>"AWESOME!" </h1>
                  <p>Smb</p>
                </blockquote>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- Testimonials section --> 